.agency-bar {

	display: none;

	@include breakpoint(medium up) {

		@include grid-row();
		background-color: $agency-bar-background;
		max-width: 100%;
		height: $agency-bar-height;
		display: block;

		.agency-wrap {
			width: $grid-row-width;
			position: relative;
		}

		ul {
			position: absolute;
			left: 0;
			margin: 0;

			li {
				position: absolute;

				a {
					height: $agency-bar-height;
					background: url("../img/agency-nav.png");
					text-indent: -9999em;
					display: block;
					position: absolute;
				}

				&.tfs-item a {
					width: $agency-first-item-width;
					z-index: 5;
					&:hover {
						background-position: -#{$agency-item-width} 0;
					}
				}

				&.tvmdl-item {
					left: 125px;
					z-index: 4;
					a {
						width: 167px;
						background-position: 0 -#{$agency-item-height};
						&:hover {
							background-position: -#{$agency-item-width} -#{$agency-item-height};
						}
					}
				}

				&.ext-item {
					left: 256px;
					z-index: 3;
					a {
						width: 167px;
						background-position: 0 -#{$agency-item-height} * 2;
						&:hover {
							background-position: -#{$agency-item-width} -#{$agency-item-height} * 2;
						}
					}
				}

				&.res-item {
					left: 385px;
					z-index: 2;
					a {
						width: 167px;
						background-position: 0 -#{$agency-item-height} * 3;
						&:hover {
							background-position: -#{$agency-item-width} -#{$agency-item-height} * 3;
						}
					}
				}

				&.college-item {
					left: 513px;
					z-index: 1;
					a {
						width: 167px;
						background-position: 0 -#{$agency-item-height} * 4;
						&:hover {
							background-position: -#{$agency-item-width} -#{$agency-item-height} * 4;
						}
					}
				}

			}
		}
	}
}
