/* Typography
--------------------------------------------- */
// $base-font-size: 16px;

/* Breakpoints
--------------------------------------------- */
$break-xlarge: map-get($breakpoints, xlarge);

/* Colors
--------------------------------------------- */
$white: #F8F8F8; // Because sometimes white isn't always white
$whiter: #FEFEFE;
$gray-darker: #222;
$gray-dark: #333;
$gray-medium: #5E564E;
$gray-light: #717074;
$gray-lighter: #D6D6D6;
$gray-lightest: #F7F7F9;
$primary-color: #500000;

/* Global
--------------------------------------------- */
$anchor-color: $primary-color;
$anchor-color-hover: scale-color($anchor-color, $lightness: -14%);

/* Agency Bar
--------------------------------------------- */
$agency-bar-background: #5E564E;
$agency-bar-height: 42px;
$agency-item-width: 167px;
$agency-item-height: $agency-bar-height;
$agency-first-item-width: 164px;
$agency-first-item-offest: 97px;

/* Header
--------------------------------------------- */
$site-title: $gray-light;
$site-title-font-weight: 500;
$site-title-font-size: 2.75rem;
$site-title-font-family: "minion-pro", sans-serif;
$site-description: $gray-dark;
$search-widget-height: $agency-bar-height - 2px;

/* Navigation
--------------------------------------------- */
$topbar-padding: 0;
$topbar-background: #500000;
$topbar-submenu-background: #5E564E;
$topbar-input-width: auto;
$dropdown-menu-item-background-active: $gray-darker;
$dropdownmenu-arrow-color: $whiter;
$dropdownmenu-border: none;
$accordion-menu-item-background-active: $gray-darker;
$accordionmenu-arrow-color: $whiter;
$nav-item-color: $whiter;
$dropdown-menu-item-color-active: $whiter;
$menu-item-background-active: $gray-darker;

/* Footer
--------------------------------------------- */
$footer-background: #717074;
$footer-text: #F8F8F8;
$footer-font-family: "Verdana",clean,sans-serif;
$footer-font-weight: 400;
