// Fix alignment for .title-bar-right
.title-bar-right {
	@if $global-flexbox {
		justify-content: flex-end;
		align-items: right;
	}
}

.center {
	text-align: center;
}

.p {
	margin-bottom: $paragraph-margin-bottom;
}

ul.reset:not(.grid-x) {
	margin-left: 0;
}

ul.reset > li {
	list-style-type: none;
}

.button {
	@extend %button;
}

.arrow-right {
	@extend %arrow-right;
}

table {
	border-collapse: collapse;
	margin-bottom: $paragraph-margin-bottom;

	&,
	& td {
		border: $table-border;
	}

	td {
		padding: 0.5rem 0.75rem;
	}
}

hr {
	width: 100%;
}

input[disabled] + label {
	color: $gray-light;
}

// Highlight anchor link targets inside the page content.
:not(.no-js) .site-inner *[id]:target {
	transition: background-color 1.5s ease-in;
	background-color: $yellow;
	padding-left: .35em;
	margin-left: -.35em;
}

// Fix flexbox issue for IE10
main,
aside {
	&.cell {
		display: block;
	}
}

// Line truncation. No support for Internet Explorer.
@include breakpoint(medium) {
	.medium-truncate-lines {
		display: -webkit-box; // sass-lint:disable-line no-vendor-prefixes
		-webkit-line-clamp: 3; // sass-lint:disable-line no-vendor-prefixes
		-webkit-box-orient: vertical; // sass-lint:disable-line no-vendor-prefixes
		overflow: hidden;
	}

	.medium-truncate-2-lines {
		-webkit-line-clamp: 2; // sass-lint:disable-line no-vendor-prefixes
	}
}
