// Fix alignment for .title-bar-right
.title-bar-right {
	@if $global-flexbox {
		justify-content: flex-end;
		align-items: right;
	}
}

.center {
	text-align: center;
}

.p {
	margin-bottom: $paragraph-margin-bottom;
}

ul.reset:not(.grid-x) {
	margin-left: 0;
}

ul.reset > li {
	list-style-type: none;
}

.button {
	@extend %button;
}

table {
	border-collapse: collapse;
	margin-bottom: $paragraph-margin-bottom;

	&,
	& td {
		border: $table-border;
	}

	td {
		padding: 0.5rem 0.75rem;
	}
}

hr {
	width: 100%;
}

input[disabled] + label {
	color: $gray-light;
}

// Highlight anchor link targets.
:not(.no-js) *[id]:target {
	transition: background-color 1.5s ease-in;
	background-color: $yellow;
	padding-left: .35em;
	margin-left: -.35em;
}

// Fix flexbox issue for IE10
main,
aside {
	&.cell {
		display: block;
	}
}

// Custom heading line height for Tungsten web font.
.has-cloud-fonts {
	// Heading styles
	@each $size, $headers in $header-styles-tungsten {
		@include breakpoint($size) {
			@each $header, $header-defs in $headers {
				$font-size-temp: 1rem;
				#{$header}, // sass-lint:disable-line empty-line-between-blocks
				.#{$header} {
					@if map-has-key($header-defs, font-size) {
						$font-size-temp: rem-calc(map-get($header-defs, font-size));
						font-size: $font-size-temp;
					} @else if map-has-key($header-defs, fs) {
						$font-size-temp: rem-calc(map-get($header-defs, fs));
						font-size: $font-size-temp;
					} @else if $size == $-zf-zero-breakpoint {
						font-size: $font-size-temp;
					}
					@if map-has-key($header-defs, line-height) {
						line-height: unitless-calc(map-get($header-defs, line-height), $font-size-temp);
					} @else if map-has-key($header-defs, lh) {
						line-height: unitless-calc(map-get($header-defs, lh), $font-size-temp);
					} @else if $size == $-zf-zero-breakpoint {
						line-height: unitless-calc($header-lineheight, $font-size-temp);
					}

					@if map-has-key($header-defs, margin-top) {
						margin-top: rem-calc(map-get($header-defs, margin-top));
					} @else if map-has-key($header-defs, mt) {
						margin-top: rem-calc(map-get($header-defs, mt));
					} @else if $size == $-zf-zero-breakpoint {
						margin-top: 0;
					}
					@if map-has-key($header-defs, margin-bottom) {
						margin-bottom: rem-calc(map-get($header-defs, margin-bottom));
					} @else if map-has-key($header-defs, mb) {
						margin-bottom: rem-calc(map-get($header-defs, mb));
					} @else if $size == $-zf-zero-breakpoint {
						margin-bottom: rem-calc($header-margin-bottom);
					}
				}
			}
		}
	}

	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6 {
		letter-spacing: 0.04em;
  }
}

// Line truncation. No support for Internet Explorer.
@include breakpoint(medium) {
	.medium-truncate-lines {
		display: -webkit-box; // sass-lint:disable-line no-vendor-prefixes
		-webkit-line-clamp: 3; // sass-lint:disable-line no-vendor-prefixes
		-webkit-box-orient: vertical; // sass-lint:disable-line no-vendor-prefixes
		overflow: hidden;
	}

	.medium-truncate-2-lines {
		-webkit-line-clamp: 2; // sass-lint:disable-line no-vendor-prefixes
	}
}
