// Fix alignment for .title-bar-right
.title-bar-right {
	@if $global-flexbox {
		justify-content: flex-end;
		align-items: right;
	}
}

.center {
	text-align: center;
}

.p {
	margin-bottom: $paragraph-margin-bottom;
}

ul.reset:not(.grid-x) {
	margin-left: 0;
}

ul.reset > li {
	list-style-type: none;
}

.button {
	@extend %button;
}
