.af4-archive {
	.archive-description {
		text-align: center;
		margin-bottom: $grid-padding-gutters;

		h1 {
			max-width: 75%;
			position: relative;
			margin-bottom: 0;
			padding: 0 1rem;
			line-height: 1.35em;
			hyphens: auto;
		}

		.grid-x {
			align-items: center;
			flex-wrap: nowrap;

			+ * {
				margin-top: $grid-padding-gutters / 2;
			}
		}

		.title-line {
			border-top: 2px solid;
		}
	}
}

.af4-entry-compact {
	~ .af4-entry-compact {
		margin: $grid-padding-gutters * 1.5 0 0;
	}

	h2 {
		text-transform: none;
		font-size: 2rem;
		line-height: 1;
		margin: 0 0 .7rem;

		.has-cloud-fonts & {
			font-weight: 600;
		}

		a {
			color: $dark-blue;
			text-decoration: none;

			&:focus,
			&:hover {
				text-decoration: underline;
			}
		}
	}

	p {
		font-size: .875rem;
		line-height: 1rem;
		margin-bottom: .7rem;

		&.entry-meta {
			margin-bottom: 0;
		}
	}

	time {
		font-style: italic;
		font-size: 1rem;
		line-height: 1.25rem;
	}

	.grid-x {
		flex-wrap: nowrap;

		@include breakpoint(medium) {
			justify-content: end;
		}
	}

	.button {
		padding: .25rem .5rem;
		transition: 0.25s color, 0.25s background-color;
		margin-bottom: .7rem;

		&:hover {
			background-color: transparent;
			color: $black;
			border: 1px solid $dark-blue;
			text-decoration: none;
		}
	}

	&.has-post-thumbnail {
		position: relative;

		.entry-image-link {
			img {
				margin-bottom: 0;
			}
		}
	}

	.post-category .button {
		@extend %button-compact;
	}
}
