.blog {
	h2 {
		font-size: 1.8rem;
		clear: left;
		margin: 0;
	}

	.entry-image-link {
		display: block;
		margin-bottom: 1rem;
	}

	.entry-meta {
		margin: 0.25rem 0 0;
	}

	.entry-content {
		margin-top: 1rem;

		p {
			margin: 0;
		}
	}

	.post {
		background-color: #F0F0F0;
		padding: 1rem;
		margin: 0 0 1rem;
	}

	@include breakpoint(medium) {
		.content {
			display: flex;
			flex-wrap: wrap;
			padding-left: 0;
			padding-right: 0;
		}

		.post {
			flex: 1 0 auto;
			width: 29.3%;
			padding: 2%;
			margin: 1rem;
			position: relative;

			.read-more {
				position: absolute;
				bottom: 0;
				right: 0;
				margin: 10px 20px;
			}
		}

		&.content-sidebar .content .post {
			width: 46%;
			min-width: 250px;
		}
	}
}
