// Fix alignment for .title-bar-right
.title-bar-right {
	@if $global-flexbox {
		justify-content: flex-end;
		align-items: right;
	}
}

.site-header,
.header-right-widget-area {
	clear: both;
}

.site-header {
	text-align: center;
	font: {
		family: $header-font-family;
		variant-ligatures: none;
	}
	letter-spacing: .1em;
	position: relative;
	z-index: 4;

	input[type="search"] {
		color: $whiter;
	}

	.site-title img {
		max: {
			width: 168px;
			height: 72px;
		}
	}

	.site-title.has-logo {
		a {
			text-decoration: none;

			img + .site-title-text {
				display: inline-block;
				margin-left: 1.5rem;
			}
		}
	}

	.grid-container {
		padding: $grid-padding-gutters / 2;
		color: $site-title-color;
	}

	.title-area {
		font-weight: 700;
		text-align: left;
	}

	.site-title {
		font: {
			weight: $site-title-font-weight;
			family: $site-title-font-family;
			style: normal;
		}
		color: $gray-darker;
		text-rendering: optimizelegibility;
	}

	.title-bars {
		text-align: right;
	}

	.title-bar {
		display: inline-block!important; // sass-lint:disable-line no-important
	}

	.title-bar-search {
		border-right: 1px solid $gray-darker;

		.search-icon {
			display: inline-block;
			vertical-align: middle;
			cursor: pointer;
			position: relative;
			width: 26px;
			height: 26px;
			background: transparent url("../images/search-agrilife-white.png") no-repeat center {
				size: contain;
			};
		}

		.title-bar-title {
			@include element-invisible;
		}
	}

	.unit-header a {
		text-decoration: none;
	}

	@include breakpoint(small only) {

		.no-js & {
			.header-right-widget-area {
				@include element-invisible;
			}
		}

		.header-right-widget-area {
			margin: 1rem;

			form {
				@include xy-grid;

				input[type=search],
				input[type=submit] {
					@include xy-cell-base();
					margin: 0;
				}

				input[type=search] {
					@include xy-cell(8, $gutter-type: margin, $gutters: 0);
					border-color: $gray-light;
				}

				input[type=submit] {
					@include xy-cell(auto, $gutters: 1rem, $gutter-position: (left));
				}
			}
		}

		.is-stuck {
			.grid-container {
				padding: {
					top: rem-calc(10);
					bottom: rem-calc(10);
				}
			}

			.site-title img {
				max-width: 106px;
			}

			.title-bar {
				padding: {
					top: 0;
					bottom: 0;
				}
			}
		}

		.unit-header-wrap {
			display: none;
		}

	}

	@include breakpoint(medium) {
		text-align: left;

		.site-header .site-title img {
			max-height: 48px;
		}

		.grid-container {
			padding: {
				top: 2 * $site-padding;
				bottom: 2 * $site-padding;
			}
		}

		.search-form {
			text-align: right;

			fieldset {
				position: relative;
				border: 0;
				padding: 0;
				margin: 0;
			}

			input[type="search"] {
				background-color: transparent;
				display: inline-block;
				box: {
					sizing: border-box;
					shadow: none;
				}
				width: calc(100% - 38px);
				height: 32px;
				border: 1px solid #D5D6DA {
					width: 0 0 1px;
				}
				padding: 0.1em .3em;
				margin-bottom: 0;
				font-style: italic;
			}

			input[type="submit"] {
				display: inline-block;
				box-sizing: border-box;
				width: 32px;
				height: 32px;
				margin-left: 6px;
				padding: 0;
				text-indent: 1000rem;
				border: 0 none;
				background: transparent url("../images/search-agrilife-light.png") no-repeat {
					size: contain;
				};
				cursor: pointer;

				&:hover,
				&:focus {
					background-image: url("../images/search-agrilife-white.png");
				}
			}
		}

		.is-stuck {
			.site-title img {
				width: 152px;
			}

			.grid-container {
				padding: {
					top: $site-padding;
					bottom: $site-padding;
				}
			}
		}

		.unit-header-wrap {
			background: {
				repeat: no-repeat;
				position: center top;
				size: cover;
			}
		}

		.unit-header {
			padding: 1rem 3.5rem;
			color: #FFF;

			.site-title {
				font: {
					family: $tamu-header-font;
					size: 2rem;
				}
				line-height: 1;
				text-transform: uppercase;
				margin-bottom: 0.25rem;
			}

			.site-description {
				font-family: $opensans;
			}

			a {
				color: #FFF;
			}

			.wrap {
				border-left: {
					width: 2px;
					style: solid;
				}
				padding: 0.5rem 1rem;
			}
		}
	}
}
