.site-header {
	text-align: center;

	.title-area {
		font-weight: 700;
		padding: 16px 0;
	}

	.site-title {
		font: {
			weight: $site-title-font-weight;
			size: $site-title-font-size;
			family: $site-title-font-family;
			style: normal;
		}
		line-height: 1.4;
		color: #222;
		margin-bottom: 0.5rem;
		margin-top: 0.2rem;
		text-rendering: optimizelegibility;
	}

	.site-description {
		color: $site-description;
		font-weight: 300;
		line-height: 1;
		margin-bottom: 0;
	}


	@include breakpoint(small only) {

		.menu-search-container form {
			@include xy-grid;
			padding: $menu-items-padding;

			input[type=search],
			input[type=submit] {
				@include xy-cell-base();
				margin: 0;
			}

			input[type=search] {
		    @include xy-cell(8, $gutter-type: margin, $gutters: 0);
			}

			input[type=submit] {
				@include xy-cell(auto, $gutters: 1rem, $gutter-position: (left));
			}
		}

		.header-widget-area {
			@include element-invisible;
		}

	}

	@include breakpoint(medium up) {
		text-align: left;
		position: relative;

		.wrap {
			padding: 16px 1em;
		}

		.widget_search {
			display: block;
			position: absolute;
			right: 0;
			top: (1px - $agency-bar-height);
			padding: 0;
		}

		.search-form {

			fieldset {
				position: relative;
				border: 0;
				padding: 0;
				margin: 0;
			}

			input[type="search"] {
				box-sizing: border-box;
				width: 180px;
				height: $search-widget-height;
				border: 1px solid #D5D6DA;
				padding: 0.1em .3em;
				background: #FFF url("../images/search.png") no-repeat 150px 45%;
			}

			input[type="submit"] {
				@include element-invisible;
			}
		}
	}

	@include breakpoint($break-xlarge down){
		.widget_search {
			right: 1px;
		}
	}
}
