.site-header,
.nav-primary,
#header-search {
	clear: both;
}

.site-header {
	text-align: center;

	& > .wrap {
		margin: 1rem 0;
	}

	.title-area,
	.title-bars {
		display: inline-block;

		@include breakpoint(medium up) {
			margin-bottom: 1rem;
		}
	}

	.title-area {
    width: 50%;
    text-align: left;
		font-weight: 700;
		text-align: left;
	}

	.site-title {
		font: {
			weight: $site-title-font-weight;
			family: $site-title-font-family;
			style: normal;
		}
		color: #222;
		text-rendering: optimizelegibility;

		img {
			max-height: 46px;
		}
	}

	.title-bars {
    width: 50%;
    text-align: right;
  }

	.title-bar {
		display: inline-block!important;

		&.title-bar-search {
			border-right: 1px solid $gray-darker;

			.search-icon {
				display: inline-block;
				vertical-align: middle;
				cursor: pointer;
				position: relative;
				width: 26px;
				height: 26px;
				background: transparent url("../images/search-agrilife.png") no-repeat;
				background-size: contain;
			}

			.title-bar-title {
				@include element-invisible;
			}
		}

		&.title-bar-navigation {
			.menu-icon {
				@include hamburger($color: $titlebar-icon-color, $color-hover: $titlebar-icon-color-hover, $weight: 3px, $width: 30px, $height: 20px);
				margin: 0;
			}

			.title-bar-title {
				padding-left: $titlebar-icon-spacing;
				cursor: pointer;
			}
		}
	}

	@include breakpoint(small only) {

		.nav-primary #nav-menu-primary,
		#header-search {
			margin: 1rem;
		}

		#header-search form {
			@include xy-grid;

			input[type=search],
			input[type=submit] {
				@include xy-cell-base();
				margin: 0;
			}

			input[type=search] {
		    @include xy-cell(8, $gutter-type: margin, $gutters: 0);
		    border-color: $gray-light;
			}

			input[type=submit] {
				@include xy-cell(auto, $gutters: 1rem, $gutter-position: (left));
			}
		}

	}

	@include breakpoint(medium up) {
		text-align: left;
		position: relative;

		> .wrap {
			padding: 1rem 0;
		}

		.search-form {
			text-align: right;

			fieldset {
				position: relative;
				border: 0;
				padding: 0;
				margin: 0;
			}

			input[type="search"] {
				display: inline-block;
				box-sizing: border-box;
				width: calc(100% - 38px);
				height: 32px;
				border: 1px solid #D5D6DA;
				border-width: 0 0 1px;
				padding: 0.1em .3em;
				margin-bottom: 0;
				box-shadow: none;
				font-style: italic;
			}

			input[type="submit"] {
				display: inline-block;
				box-sizing: border-box;
				width: 32px;
				height: 32px;
				margin-left: 6px;
				padding: 0;
				text-indent: 1000rem;
				border: 0 none;
				background: transparent url("../images/search-agrilife.png") no-repeat;
				background-size: contain;
			}
		}
	}
}
