
.site-container {
	padding: 0 12px;
}

@include breakpoint(medium up) {
	.site-container {
		padding: 0;
	}

	.site-header,
	.nav-primary,
	.site-inner .wrap,
	.site-footer {
		@include xy-grid-container(1200px, 0);
	}

	.content-sidebar-wrap {
		@include xy-grid;

		.content {
	    @include xy-cell-base();
	    @include xy-cell-static(8, $gutter-type: padding, $gutters: 2rem);
	    margin-top: 2%;
		}

		.sidebar {
	    @include xy-cell-base();
	    @include xy-cell-static(4, $gutter-type: padding, $gutters: 2rem);
	    margin-top: 2%;
		}
	}
}
