
.site-header,
.site-inner {
	padding: 0 1rem;
}

.site-header,
.nav-primary {
	clear: both;
}

.site-header .wrap {
	@include xy-grid;
	padding: 1rem 0;

	.title-area,
	.title-bar-search,
	.title-bar-navigation {
    @include xy-cell-base();
	}

	.title-area {
    @include xy-cell(5, $gutter-type: padding, $gutters: 0);
	}

	.title-bar-search {
    @include xy-cell(auto, $gutter-type: padding, $gutters: 2rem);
	}

	.title-bar-navigation {
    @include xy-cell(4, $gutter-type: padding, $gutters: 0);
	}
}

@include breakpoint(medium up) {
	.site-header,
	.site-inner {
		padding: 0;
	}

	.agency-wrap,
	.site-header,
	.site-inner .wrap,
	.site-footer {
		@include xy-grid-container($break-xlarge, 0);
	}

	.site-header .wrap {

		.nav-primary,
		#header-search {
	    @include xy-cell-base();
		}

		.title-area {
	    @include xy-cell(2, $gutter-type: padding, $gutters: 2rem);
		}

		.nav-primary {
	    @include xy-cell(auto, $gutter-type: padding, $gutters: 2rem);
		}

		#header-search {
	    @include xy-cell(3, $gutter-type: padding, $gutters: 2rem);
		}
	}

	.content-sidebar-wrap,
	.sidebar-content-wrap {
		@include xy-grid;

		.content {
	    @include xy-cell-base();
	    @include xy-cell(8, $gutter-type: padding, $gutters: 2rem);
	    margin-top: 2%;
		}

		.sidebar {
	    @include xy-cell-base();
	    @include xy-cell(4, $gutter-type: padding, $gutters: 2rem);
	    margin-top: 2%;
		}
	}

	.content-wrap {
		@include xy-grid;

		.content {
	    @include xy-cell-base();
	    @include xy-cell(12, $gutter-type: padding, $gutters: 2rem);
	    margin-top: 2%;
		}
	}
}
