
.site-inner {
	padding: 0 1rem;
}

.content-sidebar-wrap,
.sidebar-content-wrap {
	.content {
		margin-top: 1rem;
	}
}

@include breakpoint(medium up) {
	.site-inner {
		padding: 0;

		> .grid-container {
			}
		}
	}

	/* Ensure footer is always at the bottom of the window but not overlapping content. */
	.site-container {
		display: flex;
		flex-direction: column;
		height: 100vh;

		.logged-in & {
			height: calc(100vh - 32px);
		}
	}

	.site-header,
	.site-footer {
		flex-shrink: 0;
	}

	.site-inner {
		flex: 1 0 auto;
	}
}
