.top-bar {
	a,
	a:hover {
		color: $white;
	}

	.sub-menu a:hover,
	.is-accordion-submenu-parent[aria-expanded="true"] > a {
		background-color: $dark-grey;
	}
}

@include breakpoint(medium up) {

	.title-bar {
		display: none;
	}

}

.no-js ul[data-responsive-menu] ul {
  display: none;
}
