.top-bar {
	a,
	a:hover {
		color: $nav-item-color;
	}

	.sub-menu a:hover,
	.is-accordion-submenu-parent[aria-expanded="true"] > a {
		background-color: $gray-darker;
	}
}

@include breakpoint(medium up) {

	.title-bar,
	.menu-search-container {
		@include element-invisible;
	}

}

.no-js ul[data-responsive-menu] ul {
  display: none;
}
