@charset "utf-8";

$admin: true;

@import "foundation";
@import "settings";
@import "util/mixins";
@import "util/extends";
@import "wordpress";
@import "block-livewhale";

@include foundation-xy-grid-classes(
	$base-grid: true,
	$margin-grid: false,
	$padding-grid: true,
	$block-grid: false,
	$collapse: true,
	$offset: false,
	$vertical-grid: false,
	$frame-grid: false
);

@include af4-cloudfont-styles(".block-editor-page .edit-post-visual-editor");

.block-editor-page .edit-post-visual-editor {
	font-family: $body-font-family;

	// Headings
	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6 {
		font: {
			family: $header-font-family;
			style: $header-font-style;
			weight: $header-font-weight;
		}
		color: $header-color;
		text-rendering: $header-text-rendering;

		small {
			line-height: 0;
			color: $header-small-font-color;
		}
	}
}
