// Useful for all variations of AgriFlex4

@charset "utf-8";

@import "foundation";
@import "settings";
@import "util/mixins";
@import "util/extends";

@include foundation-global-styles;
// @include foundation-grid;
// @include foundation-flex-grid;
@include foundation-xy-grid-classes(
	$base-grid: true,
	$margin-grid: false,
	$padding-grid: true,
	$block-grid: false,
	$collapse: true,
	$offset: false,
	$vertical-grid: false,
	$frame-grid: false
);
@include foundation-typography;
// @include foundation-button;
@include foundation-form-text;
@include foundation-form-checkbox;
@include foundation-form-label;
// @include foundation-form-helptext;
// @include foundation-form-prepostfix;
@include foundation-form-fieldset;
@include foundation-form-select;
// @include foundation-form-error;
// @include foundation-range-input;
// @include foundation-accordion;
@include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-card;
// @include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
@include foundation-dropdown-menu;
// @include foundation-responsive-embed;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
@include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
@include foundation-title-bar;
// @include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
// @include foundation-flex-classes;

// @include foundation-prototype-classes;

@import "all";
@import "accessibility";
@import "layout";
@import "header";
@import "navigation";
@import "column-classes";
@import "footer";
@import "search";
@import "wordpress";
@import "archive";

// For template pages
@import "template-default";
@import "tiled-post-search";

// For plugins
@import "plugin-agrilife-people";
